@import "tailwindcss";

:root {
  --background: #111827;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
